@import "/src/styles/theme/theme.scss";

.c-button {
  width: "100%";
  height: fit-content;
  padding: 2px 4px;
  border-radius: 4px;
  @extend .d-flex;
  @extend .f-center;

  &-size-small {
    font-size: 0.75rem;
    height: 1.5rem;
  }

  &-size-normal {
    font-size: 1rem;
    height: 1.75rem;
  }

  &-size-large {
    font-size: 1.5rem;
    height: 2.25rem;
  }
}
