@import "../styles/theme/theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1280px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }

  color: $dark-01;
}

body,
input,
textarea,
button {
  font-family: $font_primary;
  font-weight: 400;
}

input {
  border-color: $light-03;
  border-width: 1px;
  border-style: solid;
}

body {
  background: $light-02;
}

button {
  border-style: solid;

  cursor: pointer;
  transition: 0.3s;
  &:hover {
    filter: brightness(0.8);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

#root {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;

  > * {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
  }
}
