$main: #feb44b;
$main-dark: #ff9100;
$main-extra-dark: #ff6e00;

$dark-01: #171717;
$dark-02: #474747;
$dark-03: #757575;
$dark-04: #949494;

$light-01: #ffffff;
$light-02: #e5e5e5;
$light-03: #c7c7c7;
$light-04: #ababab;

$error: #ca0000;
$error-light: #cb3e3e;
$error-dark: #8a0e0e;

$success: #1a9525;
$success-light: #57d862;
$success-dark: #106f19;

$colors-list: (
  "main": $main,
  "main-dark": $main-dark,
  "main-extra-dark": $main-extra-dark,
  "dark-01": $dark-01,
  "dark-02": $dark-02,
  "dark-03": $dark-03,
  "dark-04": $dark-04,
  "light-01": $light-01,
  "light-02": $light-02,
  "light-03": $light-03,
  "light-04": $light-04,
  "error": $error,
  "error-light": $error-light,
  "error-dark": $error-dark,
  "success": $success,
  "success-light": $success-light,
  "success-dark": $success-dark,
);
