.flex-1 {
  flex: 1;
}

.d-flex {
  display: flex;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-centered {
  @extend .d-flex;
  @extend .f-center;
}

.f-centered-row {
  @extend .f-centered;
  @extend .f-row;
}

.f-centered-col {
  @extend .f-centered;
  @extend .f-col;
}

@include attr-x("gap", "gap", 8, 0.25, "rem");
@include attr-x("padding", "p", 8, 0.25, "rem");
@include attr-x("margin", "m", 8, 0.25, "rem");
@include attr-x("width", "w", 100, 1, "%");

@each $key, $val in $colors-list {
  .color-#{$key} {
    color: $val;
  }

  .border-color-#{$key} {
    border-color: $val;
  }

  .bg-#{$key} {
    background-color: $val;
  }
}

@each $key, $val in $message-error-sizes {
  .message-error-#{$key} {
    @extend .color-error;
    font-weight: 700;
    font-size: #{$val}rem;
    height: #{$val}rem;
  }

  .message-success-#{$key} {
    @extend .color-success;
    font-weight: 700;
    font-size: #{$val}rem;
    height: #{$val}rem;
  }
}
